# -----------------------------------------------------------------------------
# Python
# -----------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# -----------------------------------------------------------------------------
# Distribution / Packaging
# -----------------------------------------------------------------------------
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# -----------------------------------------------------------------------------
# PyInstaller
# -----------------------------------------------------------------------------
# Usually these are generated when building .exe/.app/.dmg packages
*.manifest
*.spec

# -----------------------------------------------------------------------------
# Unit test / coverage reports
# -----------------------------------------------------------------------------
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# -----------------------------------------------------------------------------
# Jupyter Notebook
# -----------------------------------------------------------------------------
.ipynb_checkpoints

# -----------------------------------------------------------------------------
# pyenv / pipenv / poetry
# -----------------------------------------------------------------------------
# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# -----------------------------------------------------------------------------
# Environments
# -----------------------------------------------------------------------------
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# -----------------------------------------------------------------------------
# IDEs / Editors
# -----------------------------------------------------------------------------
.vscode/
.idea/
.spyproject/
.ropeproject/

# -----------------------------------------------------------------------------
# MyPy / Pyre / Pytype
# -----------------------------------------------------------------------------
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# -----------------------------------------------------------------------------
# Logs / Dumps / Temp files
# -----------------------------------------------------------------------------
*.log
*.pot
*.mo
*.tmp
*.temp
*.swp
*.bak
*.orig
*.DS_Store
Thumbs.db